html,
body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'exo_2.0regular';
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'exo_2.0regular';
    src: url('../fonts/Exo2.0-Regular-webfont.eot');
    src: url('../fonts/Exo2.0-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2.0-Regular-webfont.woff') format('woff'), url('../fonts/Exo2.0-Regular-webfont.ttf') format('truetype'), url('../fonts/Exo2.0-Regular-webfont.svg#exo_2.0regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page {
    padding-top: 51px;
    padding-bottom: 50px;
    min-height: 100%;
    position: relative;
    background-color: #6d6d6d;
}

#content {
    padding-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #283247;
    background-color: #283247;
    z-index: 9999;
}

/** Login styles */
.login-container {
    width: 330px;
}

/** Title bar styles */
h1.title-bar {
    text-align: center;
    padding: 9px 0 9px 0;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #283247;
    color: #fff;
    margin: 0;
    width: 100%;
    display: inline-block;
}

/** main nav bar styles */
.navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
}

/** Tables */
table.detail-view th {
    background-color: #888;
    color: #fff;
    width: 250px;
    font-weight: normal;
}

/** Custom sort icons for tables */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after,
.sort-numerical a.asc:after,
.sort-ordinal a.asc:after {
    content: "\e252";
    font-size: 12px;
}

a.desc:after,
.sort-numerical a.desc:after,
.sort-ordinal a.desc:after {
    content: "\e253";
    font-size: 12px;
}

.navbar-brand-logo {
    height: 45px;
    margin: -12px;
}

@media (min-width: 1500px) {
    .container {
        width: 1500px;
    }
}

/* Adds an asterisk to all required fields */
.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
.navbar-default{
    background-color: #283247;
    border-color: #283247;
}
